<!DOCTYPE html>
<html>
<head>
    <title>Negotiations</title>
</head>
<body>
    <h1>Negotiation List</h1>
    <ul>
        {% for negotiation in negotiations %}
            <li>
                Negotiation {{ negotiation.negotiation_id }} - State: {{ negotiation.state }}
                <a href="{% url 'archive_negotiation' negotiation.negotiation_id %}">Archive</a> |
                <a href="{% url 'delete_negotiation_files' negotiation.negotiation_id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'delete_old_negotiations' %}">Delete Old Negotiations</a>
</body>
</html>
