@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family:      var(--font-body);
  background-color: var(--color-background);
  color:            var(--color-text);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-heading);
}

/* Example error cell override */
.ag-theme-alpine .cell-fail {
  background-color: var(--color-secondary);
}

/* Respect reduced motion */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: .01ms !important;
    transition-duration: .01ms !important;
  }
}
