LICENSE AGREEMENT

This is a data agreement between the data owner Setayesh and the data requestor {{ submission.q1 }} who will have permission to use the data for the following purpose(s):

{{ submission.q2 | join(', ') }}

